@page
@model QuiltDesigner.Pages.Circle

<div>
    <form method="post" enctype="multipart/form-data">
        <input type="file" asp-for="Upload" />
        <input type="submit" />
    </form>
</div>
<div style="width:1770px">
    <svg width="840" height="800" id="svg1">
        <defs>
            <pattern id="ptrn1" height="100%" width="100%" patternContentUnits="objectBoundingBox">
                <image height="1" width="1" preserveAspectRatio="none" xlink:href="/images/swatches/lgt1.jpg"/>
            </pattern>
            <pattern id="ptrn2" height="100%" width="100%" patternContentUnits="objectBoundingBox">
                <image height="1" width="1" preserveAspectRatio="none" xlink:href="/images/swatches/drk2.jpg"/>
            </pattern>
            @foreach (var fn in Model.swatchfilenames)
            {
                var tmp = "/images/swatches/@fn";
                <pattern id="@fn" height="100%" width="100%" patternContentUnits="objectBoundingBox">
                    <image height="1" width="1" preserveAspectRatio="none" xlink:href="/images/swatches/@fn"/>
                </pattern> 
            }
        </defs>
        @foreach (var tri in Model.triangles)
        {
            <polygon points="@tri.pts[0] @tri.pts[1] @tri.pts[2] @tri.pts[3] @tri.pts[4] @tri.pts[5]" fill="@tri.Color"/>
        }
        <g transform="translate(640,0)">
            <rect style="stroke: #999DA3;" fill="url(#lgt1.jpg)" x="0" y="0" width="90" height="90"/>
            <rect style="stroke: #999DA3;" fill="url(#drk2.jpg)" x="0" y="110" width="90" height="90"/>
        </g>
    </svg>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            window.addEventListener("mouseup", (e) => {
                // apply pattern in the element clicked on
                e.target.style.fill = "url(#lgt3.jpg)";
            });
        });
    </script>
}


