@page
@model QuiltDesigner.Pages.Circle

@* <h3>Circle Size</h3> *@
@* <div> *@
@*     <form method="post"> *@
@*         <input asp-for="Radius" class="form-control"/> *@
@*         <button type="submit" class="btn bn-sm btn-primary">Flash</button> *@
@*     </form> *@
@* </div> *@
@* <svg height="@(Model.Radius*2)" width="@(Model.Radius*2)"> *@
@*     <circle cx="@Model.Radius" cy="@Model.Radius" r="@(Model.Radius*0.8)" stroke="black" stroke-width="@(Model.Radius *0.05)" fill="@Model.Color" /> *@
@*     <text x="50%" y="50%" text-anchor="middle" alignment-baseline="central" fill="#fff" font-size="@(Model.Radius*0.6)px">@Model.Radius</text> *@
@* </svg> *@

<div style="width:1770px">

    <svg width="840" height="800" id="svg1">
        @foreach (var tri in Model.triangles)
        {
            <polygon points="@tri.pts[0] @tri.pts[1] @tri.pts[2] @tri.pts[3] @tri.pts[4] @tri.pts[5]" fill="@tri.Color"/>
        }
    </svg>
    <svg width="200" height="800" id="svg2">
        <defs>
            <pattern id="ptrn1" height="100%" width="100%" patternContentUnits="objectBoundingBox">
                <image height="1" width="1" preserveAspectRatio="none" xlink:href="/images/img1.jpg"/>
            </pattern>
            <pattern id="ptrn2" height="100%" width="100%" patternContentUnits="objectBoundingBox">
                <image height="1" width="1" preserveAspectRatio="none" xlink:href="/images/swatches/img2.jpg"/>
            </pattern>
        </defs>
        <polygon style="stroke: #999DA3;" fill="url(#ptrn1)" points="50 1 95 25 95 75 50 99 5 75 5 25"/>
        <path d="M50,1 95,25 95,75 50,99,5,75,5, 25z" style="stroke: #999DA3;" fill="url(#ptrn2)" transform="translate(0,100)"/>

    </svg>

</div>


