@model (string Swatchfilepath, List<string> Swatchfilenames, List<QuiltDesigner.Models.Shape> Shapes, List<QuiltDesigner.Models.Swatch> Swatches)

<sectionx>
    <articlex>
        <svg width="100%" height="100%" id="svg1" viewBox="0 0 800 800">
            <defs>
                @foreach (var fn in Model.Swatchfilenames)
                {
                    <pattern id="@fn" height="100%" width="100%" patternContentUnits="objectBoundingBox">
                        <image height="1" width="1" preserveAspectRatio="none" xlink:href=@(Model.Swatchfilepath + fn)/>
                    </pattern>
                }
            </defs>
            @foreach (var tri in Model.Shapes)
            {
                <polygon points="@String.Join(" ", tri.Points)" fill="@tri.Color"/>
            }
        </svg>
    </articlex>
    <articlex>
        <!-- CSS Grid -->
        <div class="grid-panel">
            @foreach (var swatch in Model.Swatches)
            {
                <img id="@swatch.ImageName" src="@(Model.Swatchfilepath + swatch.ImageName)" class="grid-cell"/>
            }
        </div>
    </articlex>
</sectionx>